@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#924dbf;
  --secondary:#cfac38;
  --highlight:#dc143c;
}
body{
  background:#272727;
}
body:has(.signBut){
  background: black;
  background-size:100% auto;background-repeat: no-repeat;
  background-position:100% 50%, 0 0 !important;
}
.clock{
  background:url('/clock.jpg');
  background-size:auto 90% !important;
  background-position: 50% 50% !important;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
